
.logo-container {
    z-index: 0;
    width: 600px;
    height: 909px;
    position: absolute;
    top: 50%;
    right: 10%;
    bottom: 5%;
    left: auto;
    margin: auto;
    opacity: 0;
    
    
   
    

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        // transform: rotateZ(30deg) !important;
    }
    

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        left: 0;
        bottom: auto;
        margin: auto;
        width: 100%;
        opacity: 0;
       // transform: rotateZ(30deg);
        z-index: 1;
        animation: fadeInRight 1s linear both;
    }
    
}

.svg-container {
    stroke: #E4B7A0;
    stroke-width: 10;
}

