.home-page {
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    .mobile {
        display: none;
    }

    h1{
        color: #fff;
        font-size: 48px;
        margin: 0;
        font-family: 'coolvetica';
        font-weight: 400;
&:hover{

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #5ce1e6;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            animation: fadeIn 1s 0.4s backwards;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #5ce1e6;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 0.7s backwards;
            opacity: 0.6;
        }
                }
        img{
            width: 45px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            margin-bottom: -5px;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #5ce1e6;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #5ce1e6;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #5ce1e6;
            color: #8d8d8d
        }
    }

    .img-wrap{
        padding-top: 20px;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 200px;
        display: inline-block;
    }

    .card1 {
        background-color: #ffffff00;
        position: absolute;
        left: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        top: 0%;
        width: 300px;
        height: 45%;
        border-radius: 20%;
        border: 1px solid rgba(2, 2, 2, 0.3);
        padding: 6px 6px;
        animation: fadeInRight 1s 1.8s backwards;
        

        img {
            width: 100%;
            height: 100%;
            border-radius: 25%;
            


            
        }

        h5 {
            color: #fff;
            text-align: center;
           // border: 1px solid #5ce1e6;
           font-weight: 800;
            font-size: 16px;
            margin: 6px;
        }

        p {
            color: #fff;
            text-align: center;
            width: 90%;
            margin-left: 5%;
            font-size: 13px;
            margin-bottom: 5px;
        }
        .buttons {
            justify-content: space-between;
            align-items: center;
            margin-top: 0;

            .btn-git{
                float: left;
                margin-left: 15px;
               
            }
            .btn-app{
                
                margin-right: 15px;
                float: right;
            }
        }
    }

    .card1:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
        background-color: #0104a38e;
    }

    .card-body{
        height: 56%;
       
    }

        .card2 {
                background-color: #ffffff00;
                position: absolute;
                left: 75%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
                transition: 0.3s;
                top: 0%;
                width: 300px;
                height: 45%;
                border-radius: 20%;
                border: 1px solid rgba(2, 2, 2, 0.3);
                padding: 6px 6px;
                animation: fadeInRight 1s 2.3s backwards;
              
        
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 25%;
                   
        
        
        
                }
        
                h5 {
                    color: #fff;
                    text-align: center;
                    // border: 1px solid #5ce1e6;
                    font-weight: 800;
                    font-size: 16px;
                    margin: 5px 0 2px;
                }
        
                p {
                    color: #fff;
                    text-align: center;
                    width: 90%;
                    margin-left: 5%;
                    font-size: 13px;
                    margin-bottom: 5px;
                }
        
                .buttons {
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 40px;
        
                    .btn-git {
                        float: left;
                        margin-left: 15px;
        
                    }
        
                    .btn-app {
        
                        margin-right: 15px;
                        float: right;
                    }
                }
            }
        
        .card2:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
            background-color: #0104a38e;
        }
            .card-body {
                height: 50%;
           
                justify-content: space-around;
            }

        .card3 {
            background-color: #ffffff00;
            position: absolute;
            left: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            transition: 0.3s;
            top: 53%;
            width: 300px;
            height: 45%;
            border-radius: 20%;
            border: 1px solid rgba(2, 2, 2, 0.3);
            padding: 6px 6px;
            animation: fadeInRight 1s 2.8s backwards;
    
            img {
                width: 100%;
                height: 100%;
               border-radius: 15%;
    
    
    
            }
    
            h5 {
                color: #fff;
                text-align: center;
                // border: 1px solid #5ce1e6;
                font-weight: 800;
                font-size: 16px;
                margin: 5px 0 2px;
            }
    
            p {
                color: #fff;
                text-align: center;
                width: 90%;
                margin-left: 5%;
                font-size: 13px;
                margin-bottom: 5px;
            }
    
            .buttons {
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;
    
                .btn-git {
                    float: left;
                    margin-left: 15px;
    
                }
    
                .btn-app {
    
                    margin-right: 15px;
                    float: right;
                }
            }
        }
    
                .card3:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
                    background-color: #0104a38e;
                }
    
        .card-body {
            height: 50%;
            justify-content: space-around;
        }
    
        .card4 {
            background-color: #ffffff00;
            position: absolute;
            left: 75%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
            transition: 0.3s;
            top: 53%;
            width: 300px;
            height: 45%;
            border-radius: 20%;
            border: 1px solid rgba(2, 2, 2, 0.3);
            padding: 6px 6px;
            animation: fadeInRight 1s 3.3s backwards;
    
            img {
                width: 100%;
                height: 100%;
                
    
    
    
            }
    
            h5 {
                color: #fff;
                text-align: center;
                // border: 1px solid #5ce1e6;
                font-weight: 800;
                font-size: 16px;
                margin: 5px 0 2px;
            }
    
            p {
                color: #fff;
                text-align: center;
                width: 90%;
                margin-left: 5%;
                font-size: 13px;
                margin-bottom: 5px;
            }
                         .buttons {
                             justify-content: space-between;
                             align-items: center;
                             margin-top: 5px;

                            
            
                             .btn-git {
                                 float: left;
                                 margin-left: 15px;
                                
                             }
            
                             .btn-app {
            
                                 margin-right: 15px;
                                 float: right;
                             }
                         }
    
           
        }

                 .buttons {
                    
                    
                     margin-top: 5px;
                     
                     
        
                     .btn-git {
                         
                        margin-left: 15px;
                            width: 40px;
                            height: 40px;
                            font-size: 20px;
                            text-align: center;
                           
                            background-color: #05078d56;
                            border-radius: 50%;
                        
                            &:hover {
                                background-color: #5ce1e6;
                            }
                        &:hover {
                            background-color: #5ce1e6;
                        }
        
                     }
        
                     .btn-app {
        
                      
                            margin-left: 15px;
                            width: 40px;
                            height: 40px;
                            font-size: 20px;
                            text-align: center;
                           
                            background-color: #05078d56;
                            border-radius: 50%;
                            &:hover {
                                    background-color: #5ce1e6;
                                }
                     }
                 }
    
                .card4:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
                    background-color: #0104a38e;
                }
    
        .card-body {
            height: 50%;
            justify-content: space-around;
        }
            
}

@media all and (max-width: 800px) {
    .home-page {
        
        .desktop {
            display: none;
        }
        .mobile {
            display: flex;
        }
        .text-zone {
                position: relative;
                left: 20%;
                top: 10%;
                
                
                
            }
    
            h1 {
                font-size: 15px;
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
                

                &::before {
                    display: none;

                }
                &::after {
                    display: none;
                }

                img {
                    padding-bottom: 10px;
                }
            }

    .flat-button {
        display: none;
        width: 45px;
        margin-left: 20px;
        opacity: 0;
        height: auto;
        margin-bottom: -5px;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
       
    }
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        display: flex;
    }
}